# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Prisma
/prisma/migrations/
prisma/dev.db

# Build outputs
dist/
build/

# Logs
logs/
*.log
*.tsbuildinfo

# Mac/Windows system files
.DS_Store
Thumbs.db

# IDE / editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Optional: npm package lock
package-lock.json
yarn.lock
